
@{
    ViewBag.Title = "Fale Conosco";
}


<br />

<hr style="border-color: orange" />

<h3 font-family:'Dosis', sans-serif; font-size: 36px; font-weight:bold>Fale Conosco</h3>


<form class="formulario" name="formContato" method="get">

    <p class="cadastro"> Deixe aqui a sua mensagem</p>
  

    <input class="form-control" id="nome" name="nome" type="text" placeholder="Nome" />

    <br />

    <input class="form-control" id="email" name="email" type="text" placeholder="Email" />

    <br />

    <input class="form-control" id="telefone" name="telefone" type="tel" placeholder="Telefone" />

    <br />

    <span style="height:100px">Mensagem:</span> <textarea class="form-control" name="mensagem" id="mensagem" cols="80" rows="10"></textarea>

  
    <br /><br />

    <hr style="border-color: orange" />

    <br />

    <button type="reset" class="btn btn-primary">Limpar</button>
    <button type="submit" class="btn btn-success">Enviar</button>

</form>

