
@{
    ViewBag.Title = "FaleConosco";
}


<h2>FaleConosco</h2>


<form class="formulario" name="formContato" method="get">
    <p class="cadastro"> Deixe aqui a sua mensagem</p>
    <br />
    <input class="form-control" id="nome" name="nome" type="text" value="Nome" />
    <br />
    <input class="form-control" id="email" name="email" type="text" value="Email" />
    <br />
    <input class="form-control" id="telefone" name="telefone" type="tel" value="Telefone" />

    <br /> <br />


    <h4 style="line-height:20px">Mensagem:</h4> <textarea class="caixa" name="mensagem" id="mensagem" cols="40" rows="5"></textarea>

    <br /> <br />

    <button type="reset" class="btn btn-primary">Limpar</button>
    <button type="submit" class="btn btn-success">Enviar</button>

</form>


