
@{
    ViewBag.Title = "Frango Desfiado com purê de batata doce";
}

<br />

<h3 class="text-center bg-warning">Frango Desfiado com purê de batata doce</h3>

<br />


<div class="row d-flex justify-content-center">

    <div class="col-md-6">

        <div class="card h-100">

            <a href="#"><img class="card-img-top" src="~/Imagens/Imagens/Frango2.jpeg" alt=""></a>

            <div class="card-body">

                <h4 cclass="card-title" style="font-family:'Dosis', sans-serif; font-size: 25px; color:dodgerblue">

                    Frango desfiado com purê de batata doce

                </h4>

                <h4 style="font-size:15px;font-family:'Dosis', sans-serif">(250 gr)</h4>

                <h5>R$ 11,29</h5>

                <p class="card-text">Purê de batata doce, que é ideal para o pós treino e nosso frango desfiado, temperado com nosso tempero caseiro</p>

                <h4 style="font-size:17px; color:#a4cb39; font-weight:bold;font-family:'Dosis', sans-serif">Taxa de Entrega: R$5,00</h4>

            </div>

            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
            </div>


        </div>
    </div>
</div>