
@{
    ViewBag.Title = "Polpetone";
}

<br />

<h3 class="text-center bg-warning">Polpetone</h3>

<br />

<div class="row d-flex justify-content-center">

    <div class="col-md-6">

        <div class="card h-100">

            <a href="#"><img class="card-img-top" src="~/Imagens/Imagens/Carne.jpeg" alt=""></a>

            <div class="card-body">

                <h4 class="card-title" style="font-family:'Dosis', sans-serif; font-size: 25px; color:dodgerblue">


                   Polpetone recheado zero lactose

                </h4>

                <h4 style="font-size:15px;font-family:'Dosis', sans-serif">(300 gr)</h4>

                <h5>R$ 13,00</h5>

                <p class="card-text">Carne moída recheada com queijo de búfalo zero lactose</p>

                <h4 style="font-size:17px; color:#a4cb39; font-weight:bold;font-family:'Dosis', sans-serif">Taxa de Entrega: R$5,00</h4>

         
                <input type="number" id="quantidade" placeholder="Quantidade" min="10" max="30">

            </div>

            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9734; &#9734; &#9734;</small>
            </div>


        </div>
    </div>
</div>