
@{
    ViewBag.Title = "Quem Somos";
}

<br />

<h2 style="font-family:'Dosis', sans-serif; font-size:36px;color:#a4cb39;text-align:center; font-weight:bold">Quem Somos</h2>

<hr style="background-color:#a4cb39; width:30% ; height:3px;" />

<br />

    <h5 style="font-family:Tahoma; font-size:20px; text-align: center;"> 
        Sabores Fitness foi desenvolvida em 2019, com o objetivo de levar aos seus cliente uma alimentação equilibrada, saudável e com praticidade.
        As pessoas que tem um cotidiano corrido poucas vezes tem uma alimentação saudável, um desses fatores é a oferta de procura e demanda
        uma outra questão é as pessoas acharem que comidas saudáveis não são saborosas. O site Sabores Fitness visa a venda de comidas que o paladar
        que a maioria das pessoas estão acostumadas, além de oferecer praticidade na compra
    </h5>



