
@{
    ViewBag.Title = "Index";
}

<style>
    table, th, td{
        border:2px solid black;
        border-collapse:collapse;
        text-align:center;
        
</style>

<h2 class="text-danger text-center text-uppercase bg-info">Bem vindo ao controle de usuário</h2>

<hr/>

<p class="text-center">
    Neste projeto iremos utilizar algumas classes em Bootstrap. Segue abaixo a descrição de algumas:
</p>

<hr/>

<div class="container-fluid">

    <table class="table">

        <tr class="text-info">

            <th>
                Classe Bootstrap
            </th>

            <th>
                Descrição
            </th>

        </tr>

        <tr>

            <td>
                text-center
            </td>
            
            <td>
                Cor do texto em Vermelho
            </td>

        </tr>

        <tr>

            <td>
                text-uppercase
            </td>

            <td>
                Converte o texto em Maiúsculo
            </td>

        </tr>

        <tr>

            <td>
                bg-info
            </td>

            <td>
                Insere uma cor de fundo
            </td>

        </tr>

        <tr>

            <td>
                navbar
            </td>

            <td>
                Cria uma Barra de Menu
            </td>

        </tr>

        <tr>

            <td>
                navbar-inverse <br />navbar-fixed-top
            </td>

             <td>
                Alterna as cores do fundo é o texto do menu <br />Fixa o menu na parte superior 
            </td>

        </tr>

        <tr>

            <td>
                Para saber mais
            </td>

            <td>
                <a href="htpps://www.w3.schools.com/bootsctrap4/default.asp">Clique aqui</a>
            </td>

        </tr>

    </table>

 </div>

